# OpenSSL cruft
*.pem
*.crt
*.key
*.csr
*.json
ssl.conf

# Kubernetes binaries
kubectl
minikube
dind-cluster-*.sh

.idea/
_attic/
**/__pycache__/
*.egg-info/
build/
dist/
.eggs/
venv/
virtualenvwrapper/
pip-wheel-metadata/

